@import "../common.scss";

.common-toast {
  .toast-wrapper {
    position: fixed !important;
    bottom: 65px !important;
  }
}

.toast-ios,.toast-md {
    .toast-wrapper {
        &.toast-bottom {
            position: fixed !important;
            bottom: 65px !important;
        }
    }
  }
