<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="gotoBack()"></ion-icon>
    <ion-title class="shayari-main-title">Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--padding-bottom: 56px !important" *ngIf="isShow">
  <ion-grid>
    <ion-row> 
      <ion-col size="12" *ngFor="let shayari of filterList;let i=index">
        <ion-card style="margin: 0px;border-radius: 10px;">
          <ion-card-content style="position: relative; padding: 15px 0px 0px !important">
            <p class="shayari-subtitle" style="padding: 0px 15px 10px;" [innerHTML]="shayari.name"></p>

            <ion-grid style="background: #C6A4A3">
              <ion-row style="display: flex;justify-content: center;">
                <ion-col style="text-align: center;" class="vertical_centr" (click)="copyClipboard(shayari)">
                  <ion-icon name="copy-outline" class="social-icon"></ion-icon>
                </ion-col>
                <ion-col style="text-align: center;" class="vertical_centr" (click)="speak(shayari)" *ngIf="!shayari.isPlay">
                  <ion-icon name="play-circle-outline" class="social-icon"></ion-icon>
                </ion-col>
                <ion-col style="text-align: center;" class="vertical_centr" (click)="stopSpeaking(shayari)" *ngIf="shayari.isPlay">
                  <ion-icon name="pause-circle-outline" class="social-icon"></ion-icon>
                </ion-col>
                <ion-col style="text-align: center;" class="vertical_centr" (click)="favorite(shayari)">
                  <ion-icon name="heart" class="social-icon"></ion-icon>
                </ion-col>
                <ion-col style="text-align: center;" class="vertical_centr" (click)="socialShare(shayari)">
                  <ion-icon name="share-social-outline" class="social-icon"></ion-icon>
                </ion-col>
                
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-grid *ngIf="filterList && filterList.length == 0" style="position: relative; height: 100%; width: 100%">
    <ion-row style="
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        font-size: 27px;
      ">
      <ion-col size="12">
        <p class="error-msg">
          You have not any <br/>
           favorite shayari!
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>